extends layout

block content
    .alert.alert-info(role='alert')
      strong 
        |  Să se realizeze un instrument "inteligent" menit a interoga şi valida calendarul de activităţi pentru un utilizator ori grup de utilizatori pe baza diverselor vocabulare sau ontologii privitoare la specificarea timpului şi evenimentelor – exemple tipice: Event şi Timeline Ontology. Se vor folosi API-uri publice specifice. De asemenea, sistemul dezvoltat va oferi suport privind interoperabilitatea cu aplicaţii tradiţionale de tip calendar (e.g., pe baza formatului iCalendar) şi cu servicii publice de genul Google Calendar.