extends layout

block content
  .jumbotron
    h1 Welcome to Shacal Calendar!!!
      |   
      p Acesta este un instrument "inteligent" menit a interoga si valida calendarul de activitati pentru un utilizator sau grup de utilizatori.
      |   
      p Poti incepe prin a te loga:
      |   
      p
        a.btn.btn-primary.btn-lg(href=url, role='button') Login



